APP_NAME=<<application name>>
ENVIRONMENT=<<environment>>

RAW_DATA_PATH=<<path to raw data>>
PROCESSED_DATA_PATH=<<path to processed data>>
LOG_FILE_PATH=<<path to log file>>

DATE_FORMAT= <<date format>>